<%- include('./partials/header.ejs')%>
    <link rel="stylesheet" type="text/css" href="/css/styles.css">


    <div class="background-container">
        <img class="backgroundimage" src="/images/musicstoreimage3.jpg" alt="background">

        <div class="Title">
            <h1>Sound.Post</h1>
        </div>


    </div>

    <%- include('./partials/footer.ejs')%>